*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #245567;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.welcome-text h1{
    font-size: 28pt;    
}

.btn-action-login{
    margin-top: 2rem;
}

.content-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    height: 100vh;
    width: 70%;justify-content: flex-start;
}

.content-cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    height: 100vh;
    width: 70%;
    justify-content: flex-start;
}
.content-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 100vh;
    width: 70%;
}

.content-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 100vh;
    width: 50%;
}

.content-criarsenha{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    height: 100vh;
    width: 60%;
}
#title-login{
    text-shadow: 0px 6px 10px rgba(255, 255, 255, .1);
}

.info-content{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.instructions{
    position: center;
    text-align: justify;
}

.mandatory {
    position: center;
    color: #599dc6;
}

.form-control{
    margin-top: 1rem;
    width: 70%;
    background-color: #245567;
    border: none;
    color: #fff;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

p{
    margin-bottom: 0px;
}

label {
    flex-basis: 30%;
    text-align: left;
}
input[type="text"],
input[type="date"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"] {
    flex-basis: 70%;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #ccc;
    height: 40px;
}

/* remover setas do input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.buttons {
    display: flex;
    justify-content: flex-end; /* Alinha os botões à direita */
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-left: 10px; /* Espaçamento entre os botões */
    font-weight: bold;
}

.btn-accept{
    border: none;
    margin-right: 1rem;
    text-decoration: none;
    background-color: #fff;
    color: #245567;
    font-weight: bold;
    padding: .6rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all .324s;
}

.btn-accept:hover{
    box-shadow: 0px 0px 10px #97dedf;
}

.btn-cancel{
    border: 1px solid #fff;
    margin-right: 1rem;
    text-decoration: none;
    background-color: #245567;
    color: #FFF;
    font-weight: bold;
    padding: .6rem;
    border-radius: 4px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .324s;
}

.btn-cancel:hover{
    box-shadow: 0px 0px 10px #97dedf;
}

.required-star {
    color: red;
}


.first-access {
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}
.first-access:hover {
    background-image: linear-gradient(to left, #6a11cb 0%, #2575fc 100%);
    color: white;
}
.login {
    background-image: linear-gradient(to right, #ff512f 0%, #dd2476 100%);
}
.login:hover {
    background-image: linear-gradient(to left, #ff512f 0%, #dd2476 100%);
    color: white;
}


.modal-content{
    background-color: #599dc6;
}

.toggle-password{
    display: flex;
    justify-content: flex-end;
    margin-top:15px;
}

/* nav */

.nav-buttons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
    width: 60%;
    align-content: center;
    justify-content: center;
    height: 50px;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.errors{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;


}

