<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OHS - Agendar Consulta</title>
    {% include 'includes/bootstrap.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <header>
        <div class="card">
            <!-- Área das Info -->
            <div class="infos">
                <div class="user_img">
                    <img src="{{ url_for('static', filename='images/default.png') }}" alt="">
<!--                    <div class="img_test">-->

<!--                    </div>-->
                </div>
                <div class="user_info">
                    <h2 class="mb-0">{{paciente.nome}}</h2>
                    <p class="mb-0">Paciente - Carteira Digital</p>
                    <p class="mb-0">{{paciente.cpf}}</p>
                </div>
            </div>
            <!-- Fim da Área das Info -->

<!--            <div class="footer_card">-->
<!--                <a href="#">Clique aqui para acessar seu perfil</a>-->
<!--            </div>-->
        </div>
    </header>

    <section class="services_area">
        <h2 id="title_service">Agendar consulta com Clínico Geral</h2>
        <h4 style="color: #fff;">Dra. {{medico.nome}}</h4>

        <div class="informations">
            <div class="calendar">
                <input type="date" name="calendar" id="calendar">
            </div>
            <div class="hours_enables">
                 <span class="subtitle">Dias e horários disponíveis</span>
                 <div class="times">
                     {% for horario in disponibilidade_clinico %}
                     <button class="time_hours" data-bs-toggle="modal" data-bs-target="#confirmation{{horario.id_disponibilidade_consulta}}">{{horario.data_disponivel.strftime("%d/%m/%Y")}} - {{horario.dia_semana}} - {{horario.hora_disponivel.strftime("%H:%M")}}</button>


                        <!-- Modal confirmar agendamento -->
                        <div class="modal fade" id="confirmation{{horario.id_disponibilidade_consulta}}" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirmar agendamento</h1>
<!--                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
                              </div>
                              <div class="modal-body">
                                <h5 class="fs-5">Você deseja confirmar o agendamento abaixo:</h5>
                                <p class="mb-1">Data: {{horario.data_disponivel.strftime("%d/%m/%Y")}} - {{horario.dia_semana}}</p>
                                <p class="mb-1">Horário: {{horario.hora_disponivel.strftime("%H:%M")}}</p>
                                <p class="mb-1">Especialidade: {{medico.especialidade}}</p>
                                <p class="mb-1">Medico: Dr(a). {{medico.nome}}</p>

                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <a href="/agendamento?disponibilidade={{horario.id_disponibilidade_consulta}}" type="button" class="btn btn-primary">Confirmar</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--     fim do Modal     -->

                     {% endfor %}

                 </div>
                 <div class="obs">
                    <label for="obs" class="subtitle">Observações</label>
                    <textarea name="obs" id="obs" cols="40" rows="15"></textarea>
                 </div>
            </div>
            <div class="btn_actions">
                <a href="#" id="accept">Agendar</a>
                <a href="#" id="cancel">Cancelar</a>
            </div>
        </div>
        
    </section>
</body>
</html>