<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Agendar Consulta</title>
    {% include 'includes/bootstrap.html' %}
</head>
<body>
    <div class="container lead">
        <h1 class="mt-4">Agendar Consulta</h1>
        <form method="post">
            {{ form.csrf_token }}
            <p>
                {{ form.titulo.label }}<br>
                {{ form.titulo(size=32) }}
            </p>
            <p>
                {{ form.inicio.label }}<br>
                {{ form.inicio }}
            </p>
            <p>
                {{ form.fim.label }}<br>
                {{ form.fim }}
            </p>
            <p>
                {{ form.url.label }}<br>
                {{ form.url }}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
</body>
</html>