<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'includes/bootstrap.html' %}
</head>
<body>
    <div class="container">
        <h3 class="text-center mt-3 mb-0">CONFIRMAÇÃO DE CADASTRO</h3>

        <h5 class="mb-0">Nome</h5>
        <div class="lead mb-4">{{ dados_usuario["nome"] }}</div>

        <h5 class="mb-0">CPF</h5>
        <div class="lead mb-4">{{ dados_usuario["cpf"] }}</div>

        <h5 class="mb-0">Data de Nascimento</h5>
        <div class="lead mb-4">{{ dados_usuario["data_nascimento"] }}</div>

        <h5 class="mb-0">Celular</h5>
        <div class="lead mb-4">{{ dados_usuario["celular"] }}</div>

        <h5 class="mb-0">E-mail</h5>
        <div class="lead mb-4">{{ dados_usuario["email"] }}</div>

        <h5 class="mb-0">Inscrição realizada em</h5>
        <div class="lead mb-4">{{ dados_usuario["data_cadastro"] }}</div>

    </div>
</body>
</html>