<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OHS - Listar pacientes</title>
    {% include 'includes/bootstrap.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <header>
        {% include 'includes/card_medico.html' %}
    </header>
    <section class="services_area">
        <h2 class="mb-4" id="title_service">
            {{ titulo }}
        </h2>
        {% if not agendamentos %}
            <h4 class="mt-5" style="color: #fff;">*** Não há pacientes agendados ***</h4>
        {% endif %}
        <div class="list_users">
            {% for agendamento in agendamentos %}
                <a href="" class="user_info_list" data-bs-toggle="modal" data-bs-target="#confirmation{{agendamento.id_agendamento_consulta}}">
                    <div class="date-consult">
                        <span id="date_list">{{agendamento.disponibilidade_consulta.data_disponivel.strftime("%d/%m/%Y") }}</span>
                        <span id="day_list">{{agendamento.disponibilidade_consulta.dia_semana}}</span>
                    </div>
                    <div class="user_more_info">
                        <span>Paciente: {{agendamento.paciente.nome}}</span>
                        <span>{{agendamento.disponibilidade_consulta.hora_disponivel.strftime("%H:%M")}}</span>
                    </div>
                </a>
                <!-- Modal confirmar seleção encaminhamento -->
                <div class="modal fade" id="confirmation{{agendamento.id_agendamento_consulta}}" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Você deseja prosseguir com o agendamento do encaminhamento abaixo?</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                      </div>
                      <div class="modal-footer">
                          <form method="post" action="{{ url_for('selecionar_disponibilidade') }}" class="inline">
<!--                              <input type="hidden" name="extra_submit_param" value="extra_submit_value">-->
                              <button type="button" class="op-bad" data-bs-dismiss="modal">Cancelar</button>
                              <button type="submit" name="id_encaminhamento" value="" class="op-good">
                                Prosseguir
                              </button>
                          </form>
                      </div>
                    </div>
                  </div>
                </div>
                <!--     fim do Modal     -->
            {% endfor%}
        </div>
    </section>




</body>
</html>