<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OHS - Menu Principal</title>
    {% include 'includes/bootstrap.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body>
    <header>
        <div class="card">
            <!-- Área das Info -->
            <div class="infos">
                <div class="user_img">
                    <div class="img_test">

                    </div>
                </div>
                <div class="user_info">
                    <h2 class="mb-0">Anthony Pinho</h2>
                    <p class="mb-0">Paciente - Carteira Digital</p>
                    <p class="mb-0">12344556788</p>
                </div>
            </div>
            <!-- Fim da Área das Info -->

            <div class="footer_card">
                <a href="#">Clique aqui para acessar seu perfil</a>
            </div>
        </div>
    </header>
    <section class="services_area">
        <h2 id="title_service">O que você pretende fazer hoje?</h2>
        <div class="services">
            <a href="{{ url_for('agendar_consulta') }}" class="option">
                <i class="bi bi-calendar-heart"></i>
                <p>Agendar Consulta</p>
            </a>

            <a href="{{ url_for('listar_encaminhamentos') }}" class="option">
                <i class="bi bi-journals"></i>
                <p>Encaminhamentos</p>
            </a>

            <a href="#" class="option">
                <i class="bi bi-calendar3"></i>
                <p>Minha Agenda</p>
            </a>

            <a href="#" class="option">
                <i class="bi bi-check2-square"></i>
                <p href="#">Resultados de Exames</p>
            </a>
        </div>
    </section>
</body>
</html>