<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste</title>
    <link rel="stylesheet" href="./mockup.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="container">

        <header>
            <div class="card">
                <!-- Área das Info -->
                <div class="infos">
                    <div class="user_img">
                        <div class="img_test">
    
                        </div>
                    </div>
                    <div class="user_info">
                        <h2>Anthony Pinho</h2>
                        <p>Paciente - Carteira Digital</p>
                        <p>12344556788</p>
                    </div>
                </div>
                <!-- Fim da Área das Info -->
    
                <div class="footer_card">
                    <a href="#">Clique aqui para acessar seu perfil</a>
                </div>
            </div>
        </header>
        <section class="services_area">
            <div class="card-confirmation">
                <a href="#" id="btn-cancel">X</a>
                <span id="txt-card-confirmation">texto que vem do parametro para colocar aqui e bla bla bla 
        
                </span>
                <div class="btn-confirmation">
                    <a href="#" class="op-good">Parametro</a>
                    <a href="#" class="op-bad">Parametro</a>
                </div>
            </div>
        </section>
    </div>
</body>
</html>