<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <div class="content-login">
        <div class="welcome-text">
            <h1>Bem vindo ao sistema OHS</h1>
            <p class="option-text">Selecione uma opção</p>
        </div>
        <div class="btn-action-login">
            <button id="accept">Primeiro acesso?</button>
            <button id="cancel">Já possui cadastro? Faça o login</button>
        </div>
    </div>
</body>
</html>