<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de disponibilidade</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <div class="card">
                <!-- Área das Info -->
                <div class="infos">
                    <div class="user_img">
                        <div class="img_test">
    
                        </div>
                    </div>
                    <div class="user_info">
                        <h2>Anthony Pinho</h2>
                        <p>Médico - Carteira Digital</p>
                        <p>12344556788</p>
                    </div>
                </div>
                <!-- Fim da Área das Info -->
    
                <div class="footer_card">
                    <a href="#">Clique aqui para acessar seu perfil</a>
                </div>
            </div>
        </header>

        <section class="services_area">
            <h2 id="title_service">
                Cadastro de disponibilidade
            </h2>
            <div class="opcoes-disponibilidades">
                <a href="#" class="user_info_list">
                    <div class="name-date">
                        <span>Inserir disponibilidade</span>
                    </div>
                </a>
                
                <a href="#" class="user_info_list">
                    <div class="name-date">
                        <span>Minha disponibilidade</span>
                    </div>
                </a>
            </div>
        </section>
        
    </div>
</body>
</html>